body {
  margin: 0;
  font-size: 29px;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 747px;
  margin: auto;
  padding: 0 20px;
  line-height: 1.6;
}

a {
  color: inherit;
  font-weight: 600;
}

.logo {
  width: 100%;
  top: 0;
  text-decoration: none;
}

.logo:hover {
  border-bottom: 2px solid;
}

.co {
  font-family: NothingYouCouldDo-Regular;
  font-size: 44px;
  display: inline-block;
  margin-top: 35px;
}

.canberra {
  font-family: Okomito-Medium;
  font-size: 46px;
  display: inline-block;
}

.intro {
  font-size: 40px;
  text-decoration: none;
  font-weight: normal;
}

.readmore {
  text-decoration: none;
  font-weight: normal;
  display: inline;
  cursor: pointer;
}

.readmore:hover {
  text-decoration: underline;
}

.image {
  display: inline;
  height: 426px;
}

.image_x {
  background-image: url("/images/fungi.jpg");
  background-position: center -295px;
}

.heading {
  font-family: NothingYouCouldDo-Regular;
  font-size: 44px;
}

.content h2 {
  font-family: NothingYouCouldDo-Regular;
  font-size: 44px;
  margin-bottom: 0;
}

.content {
  font-size: 40px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .content {
    font-size: 30px;
  } 
 .content h2 {
    font-size: 34px;
  } 
 .heading {
    font-size: 34px;
  } 
}

.content p:first-child {
    margin-top: 0;
}

.contentlinks {
  text-decoration: none;
}

.contentlinks:hover {
  text-decoration: underline;
}

.backtotop {
  font-size: 40px;
  font-weight: normal;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.menu {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 15px;
  line-height: 1;
  cursor: pointer;
  z-index: 1;
}

.logocont {
  width: 100%;
  margin-top: 20px;
}

.menucont {
  min-height: 100vh;
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  z-index: 0;
  padding-top: 54px;
}

.menuitem {
  display: block;
  font-size: 40px;
  text-decoration: none;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}


.menuitem:hover {
  text-decoration: underline;
}

.menuitemsmall {
  display: block;
  font-size: 30px;
  text-decoration: none;
  font-weight: 300;
}  

.menuitemsmall:hover {
  text-decoration: underline;
}

.menudash {
  font-weight: 300;
}

.projects {
  display: inline;
  width: 50%;
  font-size: 40px;
}  

.page {
  max-width: 800px;
  margin: 30px auto 30px;
}

section {
  margin: 50px 0;
}


footer {
  text-align: center;
  padding: 30px;
  font-size: 29px;
}

@media (max-width: 767px) {
  footer {
    font-size: 19px;
  } 
}

.view_all_cont:after {
  clear: both;
  content: " ";
  height: 0;
  display: block;
}
.not_view_all {
  display: inline-block;
  width: 49%;
}
.view_all {
  display: inline-block;
  width: 49%;
  text-align: right;
}
.view_all a {
  color: inherit;
  display: block;
  text-decoration: underline;
}


@font-face { font-family: NothingYouCouldDo-Regular; src: url('fonts/NothingYouCouldDo-Regular.ttf'); } 
@font-face { font-family: Okomito-Medium; src: url('fonts/Okomito-Medium.ttf'); } 

