body {
  margin: 0;
  font-size: 29px;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 750px;
  margin: auto;
  padding: 0 20px;
}

a {
  color: inherit;
  font-weight: 600;
}

.logo {
  width: 100%;
  top: 0;
  text-decoration: none;
}

.logo:hover {
  border-bottom: 2px solid;
}

.co {
  font-family: NothingYouCouldDo-Regular;
  font-size: 44px;
  display: inline-block;
  margin-top: 35px;
}

.canberra {
  font-family: Okomito-Medium;
  font-size: 46px;
  display: inline-block;
}

.intro {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 40pt;
  text-decoration: none;
  font-weight: normal;
}

.readmore {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 40pt;
  text-decoration: none;
  font-weight: normal;
  display: inline;
  cursor: pointer;
}

.readmore:hover {
  text-decoration: underline;
}

.image {
  display: block;
  width: 100%;
  margin: 40px 0;
  padding-top: 51.3%;
  width: 100%;
  background-image: url("/images/CC-broccoli.png");
  background-position: center 0px;
  background-clip: border-box;
  background-attachment: fixed;
}

.image_x {
  background-image: url("/images/fungi.jpg");
  background-position: center -295px;
}

.heading {
  font-family: NothingYouCouldDo-Regular;
  font-size: 44px;
}

.content h2 {
  font-family: NothingYouCouldDo-Regular;
  font-size: 44px;
  margin-bottom: 0;
}

.content {
  font-size: 40px;
  font-weight: normal;
}

.content p:first-child {
    margin-top: 0;
}

.contentlinks {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 40pt;
  text-decoration: none;
}

.contentlinks:hover {
  text-decoration: underline;
}

.backtotop {
  font-size: 40px;
  font-weight: normal;
  text-decoration: none;
}

.backtotop:hover {
  text-decoration: underline;
  color: black;
}

.menu {
  float: right;
  margin-top: 35px;
  cursor: pointer;
}

.menucont {
  width: 100%
}

.itemscont {
  padding-bottom: 800px;
}

.menuitems {
  display: inline-block;
  font-size: 40px;
  text-decoration: none;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  width: 50%;
}

.menuitems:hover {
  text-decoration: underline;
}
  
.projects {
  display: inline;
  width: 50%;
  font-size: 40px;
}  

.page {
  padding: 10px;
  max-width: 800px;
  margin: 30px auto 30px;
}

section {
  margin: 50px 0;
}

@media (max-width: 767px) {
  section {
    margin: 55px 0;
  }
}

li {
  margin-top: 20px;
}

hr {
  border-top: 1px solid #000;
  border-bottom: none;
}

footer {
  text-align: center;
  padding: 30px;
}

.view_all_cont:after {
  clear: both;
  content: " ";
  height: 0;
  display: block;
}
.not_view_all {
  display: inline-block;
  width: 49%;
}
.view_all {
  display: inline-block;
  width: 49%;
  text-align: right;
}
.view_all a {
  color: inherit;
  display: block;
  text-decoration: underline;
}


@font-face { font-family: NothingYouCouldDo-Regular; src: url('fonts/NothingYouCouldDo-Regular.ttf'); } 
@font-face { font-family: Okomito-Medium; src: url('fonts/Okomito-Medium.ttf'); } 

