body {
  margin: 0;
  font-size: 29px;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 760px;
  margin: auto;
  padding: 0 20px;
}

a {
  color: inherit;
  font-weight: 600;
}

.logo {
  width: 100%;
  top: 0;
  text-decoration: none;
}

.co {
  font-family: NothingYouCouldDo-Regular;
  font-size: 38px;
  display: inline-block;
}

.canberra {
  font-family: Okomito-Medium;
  font-size: 40px;
  display: inline-block;
}


.intro {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 40pt;
  text-decoration: none;
  font-weight: normal;
}

.readmore {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 40pt;
  text-decoration: none;
  font-weight: normal;
}

.readmore:hover {
  text-decoration: underline;
}

.image {
  display: block;
  width: 100%;
  margin: 40px 0;
}

.heading {
  font-family: NothingYouCouldDo-Regular;
  font-size: 44px;
}

.content {
  font-size: 40px;
  font-weight: normal;
}

.contentlinks {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 40pt;
  text-decoration: none;
}

.contentlinks:hover {
  text-decoration: underline;
}

.menu {
  text-align: center;
  margin: 41px 0 0;
  padding: 10px;
}

.menu_item {
  display: inline-block;
  font-size: 25px;
  margin: 0 30px;
  text-decoration: none;
  font-family: Okomito-Medium;
}


@media (max-width: 775px) {
  .menu {
    margin: 20px auto 0;
    max-width: 300px;
  }
  .menu:after {
    clear: both;
    content: " ";
    height: 0;
    display: block;
  }
  .menu_item {
    float: left;
    width: 50%;
    margin: 0;
  }
}

.page {
  padding: 10px;
  max-width: 800px;
  margin: 30px auto 30px;
}

section {
  margin: 150px 0;
}

@media (max-width: 767px) {
  section {
    margin: 55px 0;
  }
}

li {
  margin-top: 20px;
}

hr {
  border-top: 1px solid #000;
  border-bottom: none;
}

footer {
  text-align: center;
  padding: 30px;
}

.view_all_cont:after {
  clear: both;
  content: " ";
  height: 0;
  display: block;
}
.not_view_all {
  display: inline-block;
  width: 49%;
}
.view_all {
  display: inline-block;
  width: 49%;
  text-align: right;
}
.view_all a {
  color: inherit;
  display: block;
  text-decoration: underline;
}


@font-face { font-family: NothingYouCouldDo-Regular; src: url('fonts/NothingYouCouldDo-Regular.ttf'); } 
@font-face { font-family: Okomito-Medium; src: url('fonts/Okomito-Medium.ttf'); } 

